body {
  background-color: steelblue;
}

header {
  border: 2px solid darkmagenta;
}

border: 4px solid rgba(0, 255, 0, 0.6);

.large-hero {
  border: 2px solid lightseagreen;
}

.large-hero__text-content {
  border: 1px solid red;
}

.container {
  background-color: pink;
  border: 1px solid orchid;
}

.wrapper {
  border: 1px solid salmon;
  border-radius: 15px;
}

.image-and-text {
  border: 1px solid purple;
}

.card {
  border: 1px solid mediumspringgreen;
}

.cards {
  border: 1px solid blue;
}

.site-header {
  border: 3px solid cyan;
}

.site-header--group-right {
  background-color: green;
}

.menu {
  border: 1px solid orange;
}

.menu__ul {
  border: 1px solid white;
}
