.btn {
  color: white;
  text-align: center;
  background-color: $mainBlue;
  padding: 1.2rem 2.2rem;

  &--opacity {
    background-color: rgba(47, 85, 114, 0.2);
  }

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    font-size: 2rem;
    padding: 1.4rem 3rem;
  }

  &--animate:hover {
    color: purple;
    box-shadow: 0 30px 16px -26px rgba(0, 0, 0, 0.15);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}
