.btn {
  color: white;
  background-color: $mainBlue;
  padding: 1.2rem 2.2rem;

  &--opacity {
    background-color: rgba(47, 85, 114, 0.2);
  }

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    font-size: 2rem;
    padding: 1.4rem 3rem;
  }
}
