.card {
  position: relative;
  background-color: $liteGray;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 3rem;
  box-shadow: 0 30px 16px -26px rgba(0, 0, 0, 0.15);

  @mixin 1200plus {
    width: 30%;
    margin-bottom: 8rem;
  }

  &__image {
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
  }

  &__h3 {
    display: inline-block;
    width: 85%;
    text-align: right;
  }
}
