.site-header {
  position: relative;
  width: 100%;
  max-width: 100vw;
  z-index: 2;
  background-color: rgba($mainBlue, 0.3);

  @mixin 1800plus {
    position: fixed;
    max-width: 1800px;
  }

  &--content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &--group-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100vw;

    @mixin 1200plus {
      width: auto;
      flex-direction: row;
      height: 100px;
    }
  }
}
