.text--group {
  column-count: 1;

  @mixin 1800plus {
    padding-left: 5rem;
    padding-right: 5rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20rem;
    -moz-column-gap: 20rem;
    column-gap: 20rem;
    -webkit-column-rule: 1px solid rgba(0, 0, 0, 0.15);
    -moz-column-rule: 1px solid rgba(0, 0, 0, 0155);
    column-rule: 1px solid rgba(0, 0, 0, 0.15);
  }

  &__p {
    margin-block-start: 0;
  }
}
